.wrap {
  max-width: 1180px;
  margin: 0 auto;
}

.about {
  margin: 80px auto 100px auto;
  display: flex;
  justify-content: center;
  gap: 120px;
  align-items: center;
}

.about__content {
  width: 70%;
}

.about__content p {
  margin-top: 25px;
  color: #4C4C4C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.header-3 {
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.1px;
}